
UnityProject/UserSettings/Layouts/default-2021.dwlt
UnityProject/UserSettings/Search.settings

#Luban
Tools/Luban/
Tools/Luban.ClientServer/
Configs/.cache.meta
GenerateDatas/

#FileServer
Tools/FileServer/AssetRoot

UnityProject/ProjectSettings/CommonBurstAotSettings.json
UnityProject/ProjectSettings/BurstAotSettings_StandaloneWindows.json
UnityProject/Assets/XR/Settings/OpenXRPackageSettings.asset.meta
UnityProject/UserSettings/EditorUserSettings.asset
UnityProject/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UnityProject/Assets/XR/Settings/OpenXRPackageSettings.asset
UnityProject/Assets/XR 2.meta
UnityProject/Assets/XR 1.meta
.gitignore
UnityProject/UserSettings/EditorUserSettings.asset
UnityProject/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UnityProject/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UnityProject/Unity_BurstDebugInformation_DoNotShip/tempburstlibs/arm64-v8a/lib_burst_generated.txt
Tools/GameEventSourceGenerator/SourceGenerator/obj/Release/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Debug
obj
GameEventSourceGenerator
Tools/GameEventSourceGenerator/SourceGenerator/obj/Debug/SourceGenerator.AssemblyInfo.cs
Tools/GameEventSourceGenerator/SourceGenerator/obj/Debug/SourceGenerator.AssemblyInfoInputs.cache
Tools/GameEventSourceGenerator/SourceGenerator/obj/Debug/SourceGenerator.assets.cache
Tools/GameEventSourceGenerator/SourceGenerator/obj/Debug/SourceGenerator.csproj.AssemblyReference.cache
Tools/GameEventSourceGenerator/SourceGenerator/obj/Debug/SourceGenerator.GeneratedMSBuildEditorConfig.editorconfig
UnityProject/Assets/Settings/URP-Default.asset
UnityProject/Assets/XR/XRGeneralSettingsPerBuildTarget.asset
UnityProject/Assets/XR/Settings/OpenXR Package Settings.asset
UnityProject/Packages/manifest.json
UnityProject/Packages/packages-lock.json
UnityProject/ProjectSettings/EditorBuildSettings.asset
UnityProject/ProjectSettings/PackageManagerSettings.asset
UnityProject/ProjectSettings/ProjectVersion.txt
UnityProject/ProjectSettings/ShaderGraphSettings.asset
UnityProject/UserSettings/AndroidLogcatSettings.asset
UnityProject/UserSettings/EditorUserSettings.asset
UnityProject/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
*.dwlt
UnityProject/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UnityProject/UserSettings/Layouts/default-2022.dwlt
UnityProject/UserSettings/EditorUserSettings.asset
UnityProject/Packages/manifest.json
UnityProject/ProjectSettings/ProjectVersion.txt
UnityProject/ProjectSettings/PackageManagerSettings.asset
